.cabecalho {
    background-color: #1C0B2B;
    position: relative;
    display: flex;
    width: 100%;
}

.tudo {
    background-color: rgb(39, 21, 54);

    
}


.icones {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.pc {
    width: 100%
}

.logo {
    width: 20%;
    margin-top: 6%;
    margin-bottom: 5%;
    margin-left: 3%;

}

.projetos {
    width: 11%;
    margin-left: 13%;
    margin-bottom: 8%;
    
}

.integrantes {
    width: 11%;
    margin-left: 10%;
    margin-bottom: 8%;
}

.contato {
    width: 11%;
    margin-left: 10%;
    margin-bottom: 8%;
    margin-right: 6%;
}

.pc {
    display: none;
}
.divisao {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    margin-top: 30vw;
    width: 80%;
    gap: 15vw;
    vertical-align: auto;

}

.nome{
    border-top: solid 1.5vw white ;
    text-align: center;
    color: white;
    font-size: 5vw;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.fotinha{
    vertical-align: bottom;
}

.contorno {

    border: solid 1.5vw white;
        border-radius: 1vw;
}





@media screen and (orientation: landscape) {


.pc {
    display: flex;
    gap: 10%;
    align-items: center;
    position: relative;
    margin-left: 30%;
    color: white;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: <700>;
    font-style: normal;
    
}

.projetos, .contato, .integrantes {
    display: none;
}

.cabecalho {
    width: 100%;
    height: 20%;
    display: flex;
}

.logo {
    width: 16%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 1%;
}


.integrantes2 {
    font-size: 1.60vw;
    color: #6F95FF;
    text-decoration: underline;

}

.projetos2, .contato2 {

    font-size: 1.60vw;

}

.tudo {
    background-color: rgb(39, 21, 54);
    background-size: cover;

}

.divisao {
    gap: 0w;
    display: inline-flex;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    justify-content: left;
    margin-top: 0vw;
    width: 50%;
    gap: 8vw;
    vertical-align: auto;
width: 40%;

}

.contorno {
    border: solid 0.6vw white;
}

.nome {
    border-top: solid 0.6vw white;
    font-size: 3vw;
}

.pcintegrantes {
    display: inline-flex;
    justify-content: center;
    margin-top: 10vw;
    gap: 8vw;
    margin-top: 10% auto;
    margin-bottom: 10% auto;
    vertical-align: middle;
    
}

.contorno:hover {

    scale: 1.3;
}

}



a { color: inherit; }

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
