.cabecalho {
    background-color: #1C0B2B;
    height: 20%;
    position: relative;
    display: flex;
}

.icones {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.logo {
    width: 20%;
    margin-top: 6%;
    margin-bottom: 5%;

}

.projetos {
    width: 13%;
    margin-left: 18%;
    margin-bottom: 6%;
}

.integrantes {
    width: 13%;
    margin-left: 5%;
    margin-bottom: 6%;
}

.contato {
    width: 13%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-right: 6%;
}